.container {
  min-height: 100vh;
  background-color: var(--color-paper);
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.containerCartOpen {
  overflow: hidden;
  height: 100vh;
}

.mainContent {
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainContentCartOpen {
  transform: translateX(-420px);
}
